$bg-image: url("./images/bg-login.JPEG");

body{
    // background-image: $bg-image;
    background-color: red;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-attachment: fixed;
    // background-size: cover;
}

.logo-login {
    height: 79px;
    width: 151px;
    left: 180px;
    position: relative;
}

/* Rectangle 5 */
.container-login {
    position: absolute;
    width: 480px;
    height: 480px;
    left: 673px;
    top: 239px;
    background: linear-gradient(241.34deg, #240041 0%, rgba(18, 2, 31, 0) 110.22%);
    border-radius: 25px;
}

/* Rectangle 1 */

.login-btn {
    position: absolute;
    width: 97px;
    height: 29px;
    left: 20px;
    top: 288px;

    background: #900048;
    border-radius: 15px;
    border-color: transparent;
    cursor: pointer;

}

/* Rectangle 3 */

.input-text-user {
    position: absolute;
    width: 344px;
    height: 51px;
    left: 20px;
    top: 98px;

    background: #D9D9D9;
    border-color: transparent;
    border-radius: 10px;
    cursor: pointer;

}

.input-text-password {
    position: absolute;
    width: 344px;
    height: 51px;
    left: 20px;
    top: 198px;

    background: #D9D9D9;
    border-color: transparent;
    border-radius: 10px;
    cursor: pointer;

}

/* Username */
.user-text {
    position: absolute;
    width: 73px;
    height: 21px;
    left: 30px;
    top: 77px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
}

.pass-text {
    position: absolute;
    width: 73px;
    height: 21px;
    left: 30px;
    top: 178px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;
}

/* Belum punya akun? Sign Up */

.sign-up-text {
    position: absolute;
    width: 168px;
    height: 18px;
    left: 135px;
    top: 406px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #FFFFFF;
}

/* sign up */
.sign-up-text-daftar {
    position: absolute;
    width: 168px;
    height: 18px;
    left: 265px;
    top: 418px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #FFFFFF;
}

/* Lupa Password? */

.forgot-password-text {
    position: absolute;
    width: 81px;
    height: 15px;
    left: 180px;
    top: 393px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    /* identical to box height */


    color: #FFFFFF;
}